@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100i,400,700i');
body {
  font-family: IBM Plex Mono, monospace;
  background-color: gainsboro;
  color: darkslategray;
}

h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 70px;
  color: firebrick;
  margin: 0px;
}
/* CAROUSEL STUFF */

#carouselContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
}

#carousel {
  display: grid;
  grid-template-columns: 20px 20px 20px 1fr 20px 20px 20px;
  grid-template-rows: 20px 20px 20px 1fr 20px 20px 20px;
  grid-column: 1/2;
  width: 70vw;
  height: 70vw;
  justify-self: center;
}

#carouselContainer h1 {
  justify-self: center;
}

/* MEDIA QUERY FOR CAROUSEL */
@media (min-width: 900px) {
  #carouselContainer {
    grid-template-columns: 1fr 5vw 1fr;
    grid-template-rows: 1fr;
  }

  #carouselContainer h1 {
    grid-column: 3/4;
    justify-self: left;
  }

  #carousel {
    width: 450px;
    height: 450px;
    justify-self: right;
  }
}

#carousel img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
}

#img0 {
  grid-column: 3 / span 4;
  z-index: 2;
  grid-row:1 / span 4;
}

#img1 {
  grid-column: 2 / span 4;
  z-index: 1;
  grid-row:2 / span 4;
}

#img2 {
  grid-column: 1 / span 4;
  z-index: -1;
  grid-row:3 /span 4;
}

/* CAROUSEL STUFF ENDS */
