@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100i,400,700i');
body {
  font-family: IBM Plex Mono, monospace;
  background-color: gainsboro;
  color: darkslategray;
  font-size: 20px;
}

p {
  background-color: aliceblue;
  border: 2vw solid aliceblue;
}

ul {
  background-color: aliceblue;
}

h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 4em;
  color: firebrick;
  margin: 0px;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  color: firebrick;
}

img {
  box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button {
  background-color: firebrick;
  color: gainsboro;
  padding: 2vw;
  cursor: pointer;
}

.boxImg {
  overflow: hidden;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

#meImg {
  clear: both;
  justify-self: center;
  border: 10px solid aliceblue;
}

/* li stuff */
li {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  padding: 0vw;
}

li div {
  display: flex;
  flex-direction: column;
}

li a {
  flex-shrink: 0;
  align-self: center;
}

@media (min-width: 750px) {
  li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
  }
  li img {
    margin: 1vw;
  }
}


/* end li stuff */

/* CAROUSEL STUFF */
#carouselContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10vw;
}
#carousel {
  display: grid;
  grid-template-columns: 20px 20px 20px 1fr 20px 20px 20px;
  grid-template-rows: 20px 20px 20px 1fr 20px 20px 20px;
  grid-column: 1/2;
  width: 70vw;
  height: 70vw;
  justify-self: center;
}
#carouselContainer h1 {
  justify-self: center;
}

#leftNav, #rightNav, #pausePlay {
  font-size: 50px;
  font-weight: 100;
  background-color: aliceblue;
  font-style: italic;
  display: none;
  cursor: pointer;
  padding: 1vw;
}

#leftNav:hover, #rightNav:hover, #pausePlay:hover {
  background-color: firebrick;
  color: aliceblue;
}

#rightNav {
  align-self: center;
  justify-self: center;
}

#ctrl {
  display: none;
  flex-direction: column;
  align-items: center;
}
/* MEDIA QUERY FOR CAROUSEL */
@media (min-width: 900px) {
  #carouselContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 10vh;
  }

  #leftNav, #rightNav, #pausePlay{
    display: block;
  }

  #ctrl {
    display: flex;
  }

  #carouselContainer h1 {
    grid-column: 3/4;
    justify-self: left;
    margin: 5vw;
  }

  #carousel {
    width: 450px;
    height: 450px;
    justify-self: right;
    grid-column: 2;
  }
}
#carousel img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  cursor: pointer;
  border: 7px solid aliceblue;
}

#carousel img:hover {
  background-color: black;
}
#img0 {
  grid-column: 3 / span 4;
  z-index: 2;
  grid-row:1 / span 4;
}
#img1 {
  grid-column: 2 / span 4;
  z-index: 1;
  grid-row:2 / span 4;
}
#img2 {
  grid-column: 1 / span 4;
  z-index: 0;
  grid-row:3 /span 4;
}

/* CAROUSEL STUFF ENDS */

/* BIO SECTION */
.mainBio {
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
}
.mainBio h2 {
  align-self: center;
  padding: 2vw;
  justify-self: center;
  color: firebrick;
}
.mainBio p, .mainBio ul, .mainBio h2 {
  grid-column: 2;
  align-self: center;
  line-height: 1.5em;
}

.mainBio p a, .collapseToggle {
  color: firebrick;
  align-self: center;
}


.collapseToggle {
  font-size: 50px;
  grid-column: 2;
  cursor: pointer;
  margin: 0 2vw 0 0;
  font-weight: 700;
  font-style: italic;
  background-color: firebrick;
  color: aliceblue;
  display: none;
  padding-left: 16px;
  padding-right: 16px;
}

.collapseGroup {
  display: none;
  border: thin dotted firebrick;
  padding: 2vw;
}

#collapseHed0, #collapseHed1, #collapseHed2, #collapseHed3 {
    justify-self: center;
    text-align: center;
    font-size: 2em;
}

#collapseHed0:hover, #collapseHed1:hover, #collapseHed2:hover, #collapseHed3:hover {
  background-color: firebrick;
  cursor: pointer;
  color: aliceblue;
  border-color: firebrick;
}

.mainBio h3 {
  align-self: center;
}

/* MEDIA QUERY FOR BIO */
@media (min-width: 900px) {
  .mainBio {
    grid-template-columns: 20vw 1fr 20vw;
  }
  .collapseToggle {
    grid-column: 1;
    justify-self: right;
    display: block;
  }
}

/* WHITMAN */

#whitmanContainer {
  display: grid;
  grid-template-columns: 5vw 1fr 1fr 5vw;
}

#whitmanContainer h2 {
  grid-column: 2;
  font-size: 4em;
  font-weight: 100;
  margin: 0px;
  background-color: aliceblue;
}

#whitmanContainer h2, #whitmanContainer h3 {
  border: 2vw solid aliceblue;
  grid-column: 2/4;
  justify-self: center;
  align-self: center;
}

#whitman {
  display: grid;
  grid-column: 2/4;
  grid-template-columns: 5vw 1fr 5vw;
  border: thick solid firebrick;
  align-items: center;
  justify-items: center;
  grid-row-gap: 2vw;
  padding: 2vw 0 2vw 0;
  margin: 0vw 0vw 2vw 0vw;
  background-color: aliceblue;
}


#whitman p, #whitman img, #whitman h1 {
  grid-column: 2;
}

#whitman h1 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
}

@media (min-width: 900px) {
  #whitmanContainer {
    grid-template-columns: 20vw 1fr 1fr 20vw;
  }

  #whitmanContainer h2 {
    grid-column: 2;
    font-size: 50px;
  }

  #whitmanContainer h3 {
    grid-column: 3;
    grid-row: 1;
  }

  #whitman {
    grid-column: 2/4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
    padding: 5vw;
  }
  #whitman p, #whitman img {
    grid-column: auto / span 1;
  }
  #whitman h1 {
    grid-column: auto / span 2;
  }
}
